export(COP)
export(COPinv)
export(COPinv2)
export(EMPIRcop)
export(EMPIRcopdf)
export(EMPIRgrid)
export(EMPIRgridder)
export(EMPIRgridder2)
export(EMPIRgridderinv)
export(EMPIRgridderinv2)
export(EMPIRmed.regress)
export(EMPIRmed.regress2)
export(EMPIRqua.regress)
export(EMPIRqua.regress2)
export(EMPIRsim)
export(EMPIRsimv)
export(M)
export(N4212cop)
export(P)
export(PLACKETTcop)
export(PLACKETTpar)
export(PLACKETTsim)
export(PSP)
export(W)
export(blomCOP)
export(coCOP)
export(composite1COP)
export(composite2COP)
export(composite3COP)
export(derCOP)
export(derCOP2)
export(derCOPinv)
export(derCOPinv2)
export(diagCOP)
export(duCOP)
export(giniCOP)
export(isCOP.LTD)
export(isCOP.RTI)
export(lcomoms2.ABcop2parameter)
export(lcomoms2.ABKGcop2parameter)
export(level.curvesCOP)
export(med.regressCOP)
export(med.regressCOP2)
export(qua.regressCOP)
export(qua.regressCOP.draw)
export(qua.regressCOP2)
export(rhoCOP)
export(sectionCOP)
export(simCOP)
export(simCOPmicro)
export(simcomposite3COP)
export(simcompositeCOP)
export(surCOP)
export(taildepCOP)
export(tauCOP)
export(wolfCOP)
